<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

    <meta charset="utf-8">
    <title>ZECO - Connexion</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Css -->
    <link rel="stylesheet" href="/zeco_info_partage/css/style.css">

    <!-- Font awesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>

    <div class="body">
        <% if(identifiant.pseudo === undefined){ %>
            <%- include('redirect'); %>
                <% } else { %>
                    <!-- Navigation bar -->
                    <nav>
                        <div class="nav-left">
                            <a href="/home"><img src="/images/logo.png" alt="ZECO APP" class="logo"></a>
                        </div>

                        <div class="nav-right">

                            <div class="nav-user">
                                <a href="" class="btn" data-bs-toggle="dropdown"> <img src="/images/user-logo.jpg" alt=""><span class="nom-prenom"><%= identifiant.pseudo %></span>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Mon profil</a></li>
                                        <li><a class="dropdown-item" href="#">Mes notifications</a></li>
                                        <hr>
                                        <li><a class="dropdown-item" href="#">Déconnexion</i></a></li>
                                    </ul>
                            </div>

                        </div>
                    </nav>

                    <br>

                    <nav aria-label="breadcrumb" class="cool">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/home">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Informations partagées</li>
                        </ol>
                    </nav>

                    <div class="body-content">
                        <% information.forEach(function(element){ %>
                            <div class="card">
                                <div class="card-header">Code de l'information:
                                    <%=element.codeInfo%>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Information:
                                        <%=element.idInfo%>
                                    </h5>
                                    <p class="card-text">
                                        <%=element.description%>
                                    </p>
                                    <label class="btn btn-primary">Auteur: <%=element.pseudo%> </label>
                                    <span class="btn btn-light">Date de publication:  <%=element.datePublication%> </span></div>
                            </div> <br><br>
                            <% }); %>
                    </div>
                    <%}%>
    </div>


</body>

</html>