<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @media screen,
        print {
            body {
                background-color: rgb(248, 247, 247);
            }
            .droite {
                width: 210mm;
                height: 297mm;
                background-color: white;
                box-shadow: 0px 4px 4px white blur(0);
                overflow-y: auto;
                margin: auto;
                margin-top: 10px;
                margin-bottom: 10px;
                padding-top: 20px;
            }
            .entete-lettre {
                display: flex;
                justify-content: space-between;
                padding-right: 10px;
                padding-left: 10px;
            }
            .objet-lettre {
                margin-top: 10%;
                padding-left: 5%;
            }
            .corps-lettre {
                text-align: justify;
                padding-left: 10%;
                padding-right: 10%;
                padding-top: 10px;
                margin-top: 5%;
            }
            .pool {
                position: fixed;
                top: 10px;
                left: 10px;
            }
            .pool a {
                text-decoration: none;
                color: black;
            }
            .pool1 {
                position: fixed;
                top: 10px;
                right: 10px;
            }
            .pool1 a {
                text-decoration: none;
                color: black;
            }
            @media screen and (max-width: 700px) {
                .col {
                    width: 100%;
                }
            }
            @media screen and (min-width: 701px) and (max-width: 1000px) {
                .col {
                    width: 50%;
                }
            }
        }
    </style>
</head>

<body>
    <div class="logo">
        <img src="/images/logo.png" alt="" width="65" height="66">
    </div>
    <hr>
    <div class="entete-lettre">
        <div class="nom-prenom-adresse">
            Nom & Prenoms : Anonyme <br> Adresse : Anonyme <br> Tel: Anonyme
        </div>


        <div class="date-lettre">
            <span id="date"></span>
        </div>
    </div>

    <div class="objet-lettre">
        <u>Objet: </u> Dépôt de plainte contre la corruption <br>
        <u>Code de la plainte:</u> <b><span class="code_plainte"><%= plainte.code %></span></b>
    </div>

    <div class="corps-lettre">
        Monsieur/Madame, <br>
        <br> Nous venons par la présente porter plainte contre <b><span class="acteurs"> <%= plainte.organisme %> </span></b> exerçant dans l'entreprise : <b><span class="entreprise"><%= plainte.entreprise %></span></b> situé à:
        <b><span class="lieu"><%= plainte.lieu %></span></b> au <b><span class="pays"><%= plainte.pays %></span></b> <br> <br> et dans le service : <b><span class="service"><%= plainte.service %></span>.</b> <br>

        <hr> Cause : <b><span class="cause"><%= plainte.objet %></span>.</b>
        <br> Faits racontés: <br>
        <b><span class="fait"><%= plainte.description %></span>.</b> <br>
        <br> Date des faits: <b><span class="fait_date"><%= plainte.date %></span>.</b> <br>
        <br> Statuts: <b><span class="statut"><%= plainte.statut %></span>.</b> <br><br> Je joins à cette lettre les documents / photos / preuves qui pourraient se révéler utiles dans la suite de cette affaire (attention à joindre des copies et non des
        originaux).
        <br>


        <br>Dans ces conditions, je vous prie de bien vouloir enregistrer mon dépôt de plainte afin de donner une suite légale à cette affaire et de faire valoir mes droits. Je vous prie d'agréer, Madame, Monsieur de recevoir l'expression de mes salutations
        les meilleurs. <br>

        <br>Anonyme
    </div>
</body>

</html>